.large-hero {
    border-bottom: 9px solid $mainBlue;
    display: grid;
    grid-template-columns: 1fr;

    &__image {
        grid-column: 1;
        grid-row: 1;
        img {
            display: block;
        }
    }

    &__btm-brdr {

        @mixin atLarge {
         border-bottom: 69px solid $mainBlue;  
        }
    }

    &__text-content {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        text-align: center;
        padding-top: 90px;
    }

    &__title {
        font-weight: 500;
        color: $mainBrown;
        font-size: 2.1rem;
       

        @mixin atSmall {
            font-size: 2rem;
        }

        @mixin atMedium {
            font-size: 2.9rem;
        }

        @mixin atLarge {
            font-size: 3.3rem;
        }
    }
    
    &__subtitle {
        font-weight: 400;
        color: $mainBrown;
        font-size: 1.5rem;

        @mixin atSmall {
            font-size: 1.3rem;
        }

        @mixin atMedium {
            font-size: 2.1rem;
        }

        @mixin atLarge {
            font-size: 2.275rem;

            
        }
    }

    &__description {
        color: #fff;
        font-size: 1.195rem;
        font-weight: 100;
        text-shadow: 0px 0px 0 rgba(248, 245, 245, 0.878);
        max-width: 17rem;
        margin-left: auto;
        margin-right: auto;

        @mixin atSmall {
            font-size: 1.1rem;
            max-width: 18rem;   
        }

        @mixin atMedium {
            font-size: 1.5rem;
            max-width: 25rem;
        }

        @mixin atLarge {
            font-size: 1.775rem;
            max-width: 29rem;
        }
    }

}
