.page-section {
    padding: 1rem 0;
   
    @mixin atMedium {
        padding: 2.5rem 0;
    }

    &--brown {
        background-color: $mainBrown;
        color: #fff;
    }

    &--testimonials {
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;

    }
}